*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 .imageGrid {  display: grid;
    grid-template-columns: 2.4fr 2fr;
    grid-template-rows: 1.6fr;
    gap: 0px 333px;
    grid-auto-flow: row;
    grid-template-areas:
      "left right";
  }
  
  .left { grid-area: left;
    float: left;
    padding: 35px;
    
}
  
  .right { grid-area: right;
    float: right;
    margin-left: 300px;
    padding:  35px;
 } 
  
  
body{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Four_Arwe_panels.jpg/800px-Four_Arwe_panels.jpg);
}

h1{
    font-size: 60px;
}
h3{
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h6{
    justify-content: center;
    font-size: 25px;
}
.banner h1, .banner h3, .banner h6{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}
.banner{
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: 5px ridge brown;
} 
a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}