*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    display:flex;
    align-items:center;
    justify-content: center;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Saba_ephiop_02.jpg/1280px-Saba_ephiop_02.jpg);
}
h4{
    font-size: 22px;
    color: green;
}

h2{
    font-size: 30px;
}
h4{
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.imageGrid {  display: grid;
    grid-template-columns: 2.4fr 2fr;
    grid-template-rows: 1.6fr;
    gap: 0px 333px;
    grid-auto-flow: row;
    grid-template-areas:
      "left right";
      margin-top: 40px;
  }
  
  .left { grid-area: left;
    float: left;
    padding: 25px;
    display: flex;
    flex-direction: row-reverse;
}
  
  .right { grid-area: right;
    float: right;
    margin-left: 300px;
    padding:  25px;
    display: flex;
    flex-direction: row;
 } 
  
h6{
    font-size: 22px;
}
.banner h2, .banner h3, .banner h6,.banner h4{
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}
.banner{
    
    color: white;
    max-height: min-content;
    margin-top: 7px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: #000;
    border: 5px ridge brown;
    height: fit-content;
}
.banner-text{
    display: inline-block;
    justify-content: center;
}

 
a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}